/* App.css */
body{
  background-color: white;
}
.App {
    text-align: center;
  }
  
  .App-header  h1{  
   color:#aeaeae;
    padding: 20px;
    text-align: start;
    font-size: 18px;
  }
  
  main {
    padding: 20px;
  }
  
  .container{
    flex-wrap: wrap;
  }
  

  .card {
    
      display: block;
      position: relative;
      background-color: #f2f8f9;
      border-radius: 4px;
      padding: 32px 24px;
      margin: 12px;
      text-decoration: none;
      z-index: 0;
      overflow: hidden;
      cursor: pointer;
    
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #7ea1f9e0;
        height: 50px;
        width: 56px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.50s ease-in-out;
      }
      &:hover:before {
        transform: scale(21);
      }
    }
    
    .card:hover {
      p {
        transition: all 0.3s ease-out;
        color: rgba(244, 244, 244, 0.8);
      }
      h3 {
        transition: all 0.3s ease-out;
         color: rgba(244, 244, 244, 0.8);
      }
    }
    
  .grid {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }
  
  .card-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  /* .more-cards {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 16px;
  } */
  .icon-wrapper {
    background: linear-gradient(45deg, #50a6ca, #fefefe);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    color:#5ea5eb;
    
  }

  
  .App {
    text-align: center;
  }
  h1{
    color: rgb(255, 166, 0);
  }
  
  #Calendar {
    margin: auto;
    margin-top: 50px;
    display: flex;
    width: 100%;
  }
  .rbc-calander{
    width: 60%;
  }
  
  .rbc-month-view{
    flex-basis: 500px !important;
  }
  
  .rbc-toolbar-label {
    font-weight: bold;
    font-size: 22px;
    color: rgb(37, 66, 197)
  }
  
  .rbc-date-cell {
    color: rgb(15, 114, 226);
  }
  
  .rbc-today {
    background-color: rgb(196, 226, 250) !important;
  }
  
  @media (max-width: 480px) {
    .rbc-toolbar {
      display: block !important;
    }
  }
   button{
    border: none;
    padding: 5px;
    color: black;
    background-color:rgb(240 240 240);
    padding:10px;
  }
  .btn-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4px;
  }
  /* Flex container to hold the calendar and cards */
.flex-container {
  display: flex;
  width: 100%;
  margin-top: 25px;
  
}

/* Flex item for the calendar */
.calendar-container {
  flex: 0 0 60%;
  box-sizing: border-box;
  padding: 10px;
}

/* Flex item for the cards */
.cardcontainer {
  flex: 0 0 40%; 
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-wrap: wrap; 
  align-content: flex-start;
  background-image: url("https://source.unsplash.com/E8Ufcyxz514/2400x1823");
}
.icon{
  font-size: 45px;
}
.textstyle{
  font-size: 14px !important  ;
  margin-top: 20px;
}
.cardsec2 {
  flex: 0 0 48%; 
  box-sizing: border-box;
  margin: 1%;
  height:150px;
  padding-top:20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: darken(color, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #495fcd;
    background: linear-gradient(45deg, #9ba4ec, hsl(0, 0%, 100%));
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    &:before {
      width: 100%;
    }
  }
}
 /* Dilaouge box css */
 .dialog-content {
  padding: 20px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.dialog-actions button {
  margin-left: 10px;
}
/*Teacher Dashboard*/
   
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  background-color: rgb(233 233 233 / 45%);
  overflow: hidden;
  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}